<!DOCTYPEhtml>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Organizer</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
</head>
<body>
<main class="container">
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        {% if user.is_authenticated %}
            <ul>
                <li><a href="{% url 'quotesapp:add_author' %}" role="button">Add author</a></li>
                <li><a href="{% url 'quotesapp:add_quote' %}" role="button">Add quote</a></li>
                <li><a href="{% url 'quotesapp:add_tag' %}" role="button">Add Tag</a></li>
            </ul>
            <form method="post" action="{% url 'quotesapp:add_quote' %}" style="display: flex; margin-bottom: 0px;">
                {% csrf_token %}

            <div style="flex: 1; display: flex; align-items: center;">
                <span style="margin-right: 25px;">Scrap me:</span>

                <div style="flex: 1;">
                    <label>
                        <input type="radio" name="choice" value="author" checked>
                        Author
                    </label>

                    <label>
                        <input type="radio" name="choice" value="quote">
                        Quote
                    </label>
                </div>

                <div style="padding-left: 15px;">
                    <input type="submit" value="Submit" class="button">
                </div>
            </form>

        {% else %}
            <ul>
                <li><a href="{% url 'users:signup' %}" role="button">Sign Up</a></li>
                <li><a href="{% url 'users:login' %}" role="button">Login</a></li>
            </ul>
        {% endif %}

    </nav>

    {% for quote in quotes %}
        
        <div style="margin-top:3%; padding-top:2%; clear: both;">
            <div style="float: left; width: 70%;" class="record">
                <span style="font-size: 140%" class="quote">"{{ quote.content }}"</span><br>
                <span style="font-style: italic;" class="author">
                    <a href="{% url 'quotesapp:author' quote.author.id %}">{{ quote.author }}</a>
                </span><br>

                {% load extract_tags %} 
                <span  style="font-size: 80%;">Tags: <small>{{ quote.tags|tags }}</small></span>
            </div>
            <div style="width: 30%; float: right; text-align: right;">
                <a href="{% url 'quotesapp:delete' quote.id %}" role="button" class="contrast">Delete Quote</a>
            </div>
        </div>      
        <br>
    {% endfor %}
</main>
</body>
</html>
