<!DOCTYPEhtml>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Organizer</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
</head>
<body>
<main class="container">
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px;">
        {% if user.is_authenticated %}
        <div style="width: 50%;">
            <ul>
                <li><a href="{% url 'quotesapp:add_author' %}" role="button">Add author</a></li>
                <li><a href="{% url 'quotesapp:add_quote' %}" role="button">Add quote</a></li>
                <li><a href="{% url 'quotesapp:add_tag' %}" role="button">Add Tag</a></li>
            </ul>
        </div>
        <div style="width: 50%;">
            <ul style="float: right; text-align: right;">
                <li><a style="width: 150px;" href="{% url 'quotesapp:scraper' option='author' %}" role="button" >Scrap Authors</a></li>
                <li><a style="width: 150px;" href="{% url 'quotesapp:scraper' option='quote' %}" role="button" >Scrap Quotes</a></li>
                <li><a style="width: 140px;" href="{% url 'quotesapp:scraper' option='tag' %}" role="button" >Scrap Tags</a></li>
            </ul>
        </div>
        {% else %}
            <ul>
                <li><a href="{% url 'users:signup' %}" role="button">Sign Up</a></li>
                <li><a href="{% url 'users:login' %}" role="button">Login</a></li>
            </ul>
        {% endif %}

    </nav>

    {% for quote in quotes %}
        
        <div style="margin-top:3%; padding-top:2%; clear: both;">
            <div style="float: left; width: 70%;" class="record">
                <span style="font-size: 140%">"</span>
                <span style="font-size: 140%" class="quote">{{ quote.content }}</span>
                <span style="font-size: 140%">"</span><br>
                <span style="font-style: italic;" class="author">
                    <a href="{% url 'quotesapp:author' quote.author.id %}">{{ quote.author }}</a>
                </span><br>

                {% load extract_tags %} 
                <span style="font-size: 80%;">Tags: 
                    {% if quote.tags.all %}
                        {% for tag in quote.tags.all %}
                            {% if not forloop.first %}, {% endif %}
                            <span class="tag">{{ tag.tag }}</span>
                        {% endfor %}
                    {% endif %}
                </span>

            </div>
            {% if user.is_authenticated %}
            <div style="width: 30%; float: right; text-align: right;">
                <a href="{% url 'quotesapp:delete' quote.id %}" role="button" class="contrast">Delete Quote</a>
            </div>
            {% endif %}
        </div>      
        <br>
    {% endfor %}
</main>
</body>
</html>
